/* body {
    font-family: 'Rubik', sans-serif !important;
  } */


  /* Add this CSS class to your global stylesheet */
.inter-font {
  font-family: 'Inter', sans-serif;
}


.custom-calendar .ant-picker-calendar-date-content {
  height: 80px;
  overflow-y: auto;
}

.custom-calendar .ant-badge-status-text {
  font-size: 12px;
}

.custom-calendar .ant-picker-calendar-date {
  border-top: 1px solid #f0f0f0;
}

.custom-calendar .ant-picker-calendar-date-today {
  background-color: #e6f7ff;
}

.custom-modal .ant-modal-content {
  border-radius: 8px;
  overflow: hidden;
}

.custom-modal .ant-modal-body {
  padding: 0;
}